*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button {
    margin: 15px;
    cursor: pointer;
}

#mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    align-items: center;
}

#tileContainer {
    clear: both;
    margin: 0;
    padding: 0;
}

.tile {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 1px dotted grey;
    background-color: silver;
}

.tileOn {
    background-color: green;
}

.parameters {
    margin: 15px;
}